{% extends 'base.html' %}
{% block head %} <div class="container-full-bg">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1">Relay Rest Presets</h1>
    <p class="lead">Relay Rest Presets save time, improves user experience, and reduces a frequent support request.</p>
  </div>
</div>
    {% endblock %}
    {% block content %}
<a class="btn btn-dark btn-lg" href="new" role="button">New Relay Rest bin</a>
<a class="btn btn-dark btn-lg" href="presets" role="button">Relay Rest Presets</a>
{% endblock %}