{% extends 'base.html' %}
{% block head %}
<div class="container-full-bg">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1 text-center">Relay Rest</h1>
            <p class="lead"></p>
        </div>
    </div>
    {% endblock %}
{% block content %}


<div class="form-group">
    <label for="laml_box">Configuration</label>
    <textarea class="form-control" id="laml_box_text" rows="10"><?xml version="1.0" encoding="UTF-8"?>
<Response>
</Response></textarea>
  </div>
</form>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-dark btn-lg" type="button" id="voice_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Voice
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


{% endblock %}