{% extends 'base.html' %}
{% block head %}
<div class="container-full-bg">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1 text-center">Relay Rest Presets</h1>
            <p class="lead">With Relay Rest Presets we can save our customers time, prevent common support request, and improve
            chances of smaller customers using our service. The goal of this project is to show a complex, yet
                simple to understand solution to a common support request. I hope this will bring in smaller customers
            by making the software extremely easy to get up and running.</p>
            </div>
        </div>
    </div>
    {% endblock %}
{% block content %}

<div class="form-group ">
<form action="/presets_handle">
    <label for="laml_box">Configuration Box</label>
    <textarea class="form-control" name = "laml_box_cox" id="laml_box_text" rows="12"><?xml version="1.0" encoding="UTF-8"?>
<Response>
</Response></textarea>


<div class="dropdown">
<div class="dropdown btn-group">
  <button class="btn btn-secondary dropdown-toggle btn-dark btn-lg" type="button" id="voice_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Voice
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="voice_forward">Voice Forwarding</a>
    <a class="dropdown-item" id="record">Recording Calls</a>
    <a class="dropdown-item" id="conference">Conference Call</a>
  </div>
<div class="dropdown btn-group">
<button class="btn btn-secondary dropdown-toggle btn-dark btn-lg" type="button" id="sms_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Messaging
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="sms_simple">Respond with a SMS</a>
    <a class="dropdown-item" id="mms_simple">Respond with a MMS</a>
    <a class="dropdown-item" id="message_forward">Forward Messages</a>
</div>
<div class="dropdown btn-group">
<button class="btn btn-secondary dropdown-toggle btn-dark btn-lg" type="button" id="fax_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Fax
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="fax_receive">Receive Fax</a>
    <a class="dropdown-item" id="fax_image">Store a Fax's Image</a>
  </div>
<div class="dropdown btn-group">
<button class="btn btn-secondary dropdown-toggle btn-danger btn-lg" type="button" id="fax_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Documentation & Help!
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="https://developer.signalwire.com/compatibility-api/reference/xml-overview" target="_blank">Relay Rest Documentation</a>
    <a class="dropdown-item" href="https://developer.signalwire.com/apis/docs" target="_blank">SignalWire Guides</a>
    <a class="dropdown-item" href="https://noah-space.signalwire.com/support_tickets/new" target="_blank">Support Help!</a>
  </div>
</div>
</div>
</div>
<input type="text" id="input" name="name" class="form-control-lg" placeholder="Name the Relay Rest bin!">


    <div class="meow"><button class="btn-dark btn-lg" type="submit">Submit</button></div>



</form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="static/js/laml_presets_handle.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>





{% endblock %}